#envelope{
	position: relative;	
	left: 20%;
	margin-top: 5%;
	width: 1080px;
	height: 650px;
	border-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
	border-radius: 12px;
	text-align: center;
}
.tamanhoMaterial{
	margin-top: 2%;
	text-align: center;
}
.somaProdutos{
	text-align: right;
}
.up-image{
	position: relative;
	height: 500px;
}
#imageShow{
	position: relative;
	max-width: 200px;
	border-style: solid;
	border-width: 1px; 
	border-color: #b3b3b3;
	border-radius: 12px; 
}