
.padleft {
	padding: 0px 0px 0px 20px;
}

.button-panel {
	margin-bottom: 10px;
	border-radius: 0;
}

.drop-zone{
	border-style: solid;
	border-width: 1px; 
	border-color: #b3b3b3;
	border-radius: 12px; 
	text-align: center;
	color: lightgray;
	font-size: 24px;
}
.drop-zone.dragover{
	opacity: 0.5;
}
#click-upload {
  display: none;
}
.hud-botao{
	position: relative;
	top: 10px;
}
.b-comprar{
	position: relative;
	left: 30%;
}
.hud-calcularPreco{
	position: relative;
	padding: 1%;
}
.somaProdutos{
	position: relative;
	text-align: center;
	width: 55%;
	left: 35%;
	top: 10px;
	bottom:20px;
}
.ok-modal-tamanho{
	position: relative;
	left: 540px;
	bottom: 5px;
}
.thumbnail{
	font-size: 10px;
}
.t-thumb{
	position: relative;
	width: 120px;
}
.m-thumb{
	position: relative;
	width: 150px;
}
.green{
	border-style: solid;
	border-color: green;
}
.img-upload{
	position: relative;
	max-width: 1000px;
	max-height: 800px;
	
}